
html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

@media print {
    .dontprint {
        display: none;
    }
}

#preamble {
    background: none repeat scroll 0 0 red; /* #46484B; */
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 70%;
    font-weight: bold;
    height: 24px; /* so that content begins after... */
    padding: 2px 2px 0 6px;
}

#banner {
    text-align: center;
}

#tabs {
    background-color: darkgreen; /* #2061A2; */
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 100%;
}

    #tabs ul {
        margin: 0;
        padding: 0;
    }

    #tabs li {
        float: left;
        list-style-type: none;
        margin: 0px 2px 0px 0px;
        padding: 0px 0px 0px 0px;
        white-space: nowrap;
    }

        #tabs li a {
            color: #EEEEEE;
            display: block;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            padding: 4px 10px 4px 10px;
            text-decoration: none;
        }

            #tabs li a:hover {
                background: #759FCF;
                color: #FFFFFF;
            }

            #tabs li.ui-tabs-active a {
                background: #FFFFFF;
                color: #555555;
            }

#content {
    clear: both;
    background-color: #FFFFFF;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 10px 2px 10px;
}

#postamble {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;
    height: 40px;
    margin: 0 auto;
    max-width: 810px;
    padding-right: 30px;
    padding-top: 22px;
    padding: 2px 2px 0 6px;
    text-align: right;
}

body {
    color: #333333;
    /* font: 13px/1.385 arial,helvetica,clean,sans-serif; */
    font: 14px/1.385 arial,helvetica,clean,sans-serif;
    margin: 0 .1em;
    padding: 0;
}

b {
    color: #000000;
}

i {
    color: #1A1A1A;
}

h1, ul#tabs, h2, h3, h4, h5 {
    font-family: "Trebuchet MS",Verdana,sans-serif;
}

h1 {
    /* background-color: #0A3F69; */
    color: darkgreen; /* #F8F8F8; */
    font-size: 40px; /* 24px; */
    margin: 0;
    padding: 9px 0px 0px 10px;
}

h2 {
    background-color: ivory; /* #0A3F69; */
    border-bottom: 4px solid #67B3E3;
    color: cadetblue;
    font-size: 20px;
}

h3, h4, h5, h6 {
    color: #1572AE;
}

.NEW {
    background-color: #FDFCD8;
    border: 1px solid #EEE9C3;
    color: #302B13;
    font-weight: normal;
}

#table-of-contents {
    background-color: #7FFFD4; /* Aquamarine */
    border: 1px solid #E4E4E4;
    display: table;
    line-height: 1.2em;
    padding: 4px;
    margin: 4px;
    max-width: 400px;
    float: right;
    width: auto;
}

    #table-of-contents h1 {
        display: none;
    }

    #table-of-contents h2 {
        display: none;
    }

    #table-of-contents ul {
        margin: 0;
        padding: 0;
    }

    #table-of-contents li {
        list-style-type: none;
        margin: 0;
    }

        #table-of-contents li li {
            margin-left: 1.5em;
        }

            #table-of-contents li li li {
                font-size: 0.8em;
            }

    #table-of-contents a {
        color: #606060;
        font-size: 0.9em;
        font-weight: normal;
        text-decoration: none;
    }

        #table-of-contents a:hover {
            color: #C61A1A;
            text-decoration: underline;
        }

#minitoc {
    background-color: #FFFFDD;
    border: 1px solid #E4E4E4;
    color: #484848;
    line-height: 1.2em;
    margin: 12px;
    padding: 4px;
    position: right;
    width: auto;
}

#minitoc a {
    display: block;
    font-size: 10px;
    font-weight: normal;
}

#minitoc a {
    display: none;
}

#minitoc:hover a {
    display: block;
}

#minitoc h2 {
    display: none;
    margin: 3px 0px;
    border: none;
    font-size: 11px;
}


#left-panel-wrapper {
    position: fixed;
    z-index: 200;
    /* display: none; /\* hide the panel if Javascript is not running *\/ */
}

#left-panel-contents {
    background-color: #EFEFEF;
    border-right: 1px dotted #ADADAD;
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 199px;
    z-index: 200;
    padding-top: 7px;
    padding-left: 7px;
}

#left-panel-button {
    transform: rotate(90deg);
    background-color: #EFEFEF;
    border: 1px dotted #ADADAD;
    border-bottom-width: 0px;
    left: -23px;
    position: fixed;
    top: 50%;
    z-index: 200;
    padding: 2px 5px 5px 5px;
}

#right-panel-wrapper {
    position: fixed;
    z-index: 200;
    /* display: none; /\* hide the panel if Javascript is not running *\/ */
}

#right-panel-contents {
    background-color: #EFEFEF;
    border-left: 1px dotted #ADADAD;
    display: none;
    height: 100%;
    right: 0px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 199px;
    z-index: 200;
    padding-top: 7px;
    padding-left: 7px;
}


#left-panel-wrapper {
    position: fixed;
    z-index: 200;
    /* display: none; /\* hide the panel if Javascript is not running *\/ */
}

#left-panel-contents {
    background-color: #EFEFEF;
    border-right: 1px dotted #ADADAD;
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 199px;
    z-index: 200;
    padding-top: 7px;
    padding-left: 7px;
}

#left-panel-button {
    transform: rotate(90deg);
    background-color: #EFEFEF;
    border: 1px dotted #ADADAD;
    border-bottom-width: 0px;
    left: -23px;
    position: fixed;
    top: 50%;
    z-index: 200;
    padding: 2px 5px 5px 5px;
}

#right-panel-wrapper {
    position: fixed;
    z-index: 200;
    /* display: none; /\* hide the panel if Javascript is not running *\/ */
}

#right-panel-contents {
    background-color: #EFEFEF;
    border-left: 1px dotted #ADADAD;
    display: none;
    height: 100%;
    right: 0px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 199px;
    z-index: 200;
    padding-top: 7px;
    padding-left: 7px;
}

